<html>
    <head>
        <title>Jamie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jamie's blog</a> </h1>
        </div>

        <div>
            <p>published: 13.08.2020, 6:42pm</p>
            <h2><a href="">My first post</a> </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
                asperiores deleniti, ea esse, eveniet ipsa labore mollitia nulla
                numquam pariatur quaerat, quisquam repudiandae saepe similique
                sunt totam velit voluptas voluptatum.</p>
        </div>

        <div>
            <p>published: 13.08.2020, 6:45pm</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                aut deserunt ex ipsa iste iure, quos ratione rem. A delectus hic
                illo maxime nemo neque perspiciatis quia recusandae veniam vitae?</p>
        </div>
    </body>
</html>